*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[v-cloak]{
  display: none;
}
:root{
  --primary: #222;
  --accent:#06be00;
}
#back{
  position: fixed;
  left: 10px;
  top: 10px;
  font-size: 30px;
  color: white;
  z-index: 98;
}
.player{
  overflow: hidden;
  height: 100vh;
}
.display{
  height: calc(100vh - 111px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.92);
  overflow: hidden;
}
.disc{
  height: 100%;
  max-height: 400px;
  max-width: 400px;
  border-radius: 50%;
  animation: rotate 20s linear infinite;
  animation-play-state: paused;
}
@keyframes rotate{
  to{
    transform: rotate(360deg);
  }
}
.player.play .display .disc{
  animation-play-state: running;
}
/* BOTTOM CONTROLS SECTION */
#cover{
  position: absolute;
  height: 80%;
  width: 80px;
  left: 10px;
}
.navigation{
  width: 100%;
  max-width: 600px;
}
.info{
  position: fixed;
  bottom: 0;
  padding: 10px;
  /* position: relative; */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* height: 80px; */
  background: rgb(36, 34, 34);
}
#title{
  color: #fff;
}
.progress-cont{
  color: #fff;
  cursor: pointer;
  height: 4px;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  background: #fff;
}
.progress{
  height: 100%;
  width: 0%;
  background: #06be00;
}
.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-btn{
  color: #979292;
  cursor: pointer;
  font-size: 1em;
  background: none;
  border:none;
  margin: 10px;
}
.action-btn:hover{
  color: #06be00;
}
.big{
  font-size: 2em;
}
.sidebar{
  position: fixed;
  left: 0;
  height: 100vh;
  margin-left: -300px;
  width: 300px;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  transition: .5s ease-in-out;
}
.sidebar button#song-select{
  padding: 10px;
}
.sidebar.open{
  margin-left: 0px;
}
.sidebar #x-sidebar{
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: #fff;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
}
@media(max-width: 812px){
  #cover{
    transform: scale(.7);
    left: 0px;
  }
}
@media(max-width: 754px){
  #cover{
    transform: scale(1);
    top: -80%;
  }
}