*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: rgb(19, 194, 19);
}
.wrapper{
  background: black;
  min-height: 100vh;
}
.flex{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.albums{
  padding: 25px;
}
.albums a{
  position: relative;
  text-decoration: none;
  color: white;
}
.albums a .overlay{
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: #000;
  border: 1px solid white;
  padding: 3px;
  text-align: center;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: .5s ease;
}
.albums a:hover .overlay{
  transform: scaleY(1);
}
.albums a img{
  border: 1px solid #fff;
  height: 200px;
  width: 200px;
}
.youtube-vids{
  padding: 50px;
}
.wrapper{
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0.9)), url('../images/exo.jpg') center;
  background-size: cover;
  padding: 10px;
}
h1#title{
  font-size: 8rem;
  color: rgb(19, 194, 19);
  margin: 50px 0;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}
h1#title span{
  display: block;
  font-size: 2rem;
}
@media (max-width: 620px){
  h1#title{
    font-size: 5rem;
  }
}