*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  background: black;
  min-height: 100vh;
}
.flex{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.albums{
  padding: 25px;
}
.albums a img{
  border: 1px solid #fff;
  height: 200px;
  width: 200px;
}